/* prettier-ignore */

@import "tailwindcss";

@custom-variant light (@media (prefers-color-scheme: light));
@custom-variant dark (@media (prefers-color-scheme: dark));

body {
    @apply
        light:bg-slate-50 light:text-slate-900
        dark:bg-slate-950 dark:text-slate-100;
    font-family: var(--font-noto-sans), var(--font-noto-sans-sc), sans-serif;
}

#app-shell {
    @apply
        flex flex-col

        mx-auto
        px-4
        light:bg-slate-50
        dark:bg-slate-950

        min-h-dvh
        max-w-3xl;
}

#app-main {
    @apply
        flex flex-1 flex-col items-center justify-center;
}

#app-title {
    @apply
        mb-2

        text-3xl font-semibold tracking-tight
        sm:text-5xl
        text-center
        light:text-slate-900
        dark:text-slate-100;
}

#app-subtitle {
    @apply
        mb-6 sm:mb-8

        text-lg
        sm:text-2xl
        text-center
        light:text-slate-700
        dark:text-slate-300;
}

#app-form {
    @apply
        flex flex-col gap-6 sm:gap-10

        w-full max-w-2xl;
}

#app-search-bar {
    @apply
        grid grid-cols-[minmax(0,3fr)_minmax(max-content,1fr)] gap-2
        sm:flex sm:gap-3;
}

#app-search-input {
    @apply
        flex-1

        shadow-sm transition-colors duration-150
        rounded-md border px-4 py-3 sm:px-5
        light:border-slate-300 light:bg-white light:focus:border-blue-600 light:focus:ring-blue-200
        dark:border-slate-700 dark:bg-slate-900 dark:focus:border-blue-400 dark:focus:ring-blue-900
        focus:outline-none focus:ring-2

        min-w-0 w-full overflow-hidden

        text-ellipsis whitespace-nowrap text-sm sm:text-base
        light:text-slate-900 light:placeholder:text-slate-500
        dark:text-slate-100 dark:placeholder:text-slate-400;
}

#app-search-button {
    @apply
        inline-flex cursor-pointer items-center justify-center gap-1 sm:gap-2 disabled:cursor-default

        transition-colors duration-150

        px-3 py-3 sm:px-6
        light:bg-blue-600 light:hover:bg-blue-700 light:active:bg-blue-800
        dark:bg-blue-500 dark:hover:bg-blue-600 dark:active:bg-blue-700

        w-full sm:w-auto

        whitespace-nowrap text-sm font-medium text-white sm:text-base;
    border-radius: 15px;
}

#app-search-button[data-hovered="true"] {
    @apply
        light:bg-blue-700
        dark:bg-blue-600;
}

#app-search-button[data-clicked="true"] {
    @apply
        light:bg-blue-800
        dark:bg-blue-700;
}

#app-engine-input {
    @apply
        transition-colors duration-150

        rounded-md border px-4 py-2
        light:border-slate-300 light:bg-white light:focus:border-blue-600 light:focus:ring-blue-200
        dark:border-slate-700 dark:bg-slate-900 dark:focus:border-blue-400 dark:focus:ring-blue-900 focus:outline-none focus:ring-2

        text-ellipsis text-sm
        light:text-slate-800 light:placeholder:text-slate-500
        dark:text-slate-200 dark:placeholder:text-slate-400;
}

#app-generated-box {
    @apply
        grid grid-cols-[1fr_auto] items-center gap-2

        rounded-xl border p-3
        light:border-slate-200 light:bg-slate-100
        dark:border-slate-700 dark:bg-slate-900

        w-full;
}

#app-generated-input {
    @apply
        bg-transparent

        min-w-0 w-full

        text-xs sm:text-sm
        light:text-slate-800
        dark:text-slate-200;
}

#app-copy-button {
    @apply
        transition-colors duration-150

        shrink-0

        light:text-slate-700 light:hover:text-blue-700 light:active:text-blue-800
        dark:text-slate-300 dark:hover:text-blue-400 dark:active:text-blue-500;
}

#app-caption {
    @apply
        self-center

        rounded-lg border px-5 py-5
        light:border-yellow-500 light:bg-yellow-100
        dark:border-yellow-600 dark:bg-yellow-950

        w-full
        max-w-md

        text-center text-lg
        light:text-slate-800
        dark:text-slate-200;
}

#app-cursor {
    @apply
        light:fill-slate-900 light:text-slate-50
        dark:fill-slate-100 dark:text-slate-950;
}

#app-footer {
    @apply
        flex items-center justify-center
        sm:flex-row sm:gap-0
        flex-col gap-2

        py-4

        text-xs sm:text-sm
        light:text-slate-600
        dark:text-slate-400;

}

#app-footer > a {
    @apply
        sm:border-r-2 sm:border-slate-500 sm:border-solid
        sm:px-4

        transition-colors duration-100
        light:hover:text-blue-700
        dark:hover:text-blue-400
        underline
        text-center;
}

#app-footer > a:last-child {
    @apply
        sm:border-r-0
        sm:pr-0;
}

#app-footer > .app-footer-sep {
    @apply
        hidden
        sm:inline

        text-slate-500
        dark:text-slate-600;
}
